#products-banner {
    height: 80dvh;
    background-image: url(/assets/products-bg.jpg);
    background-color: var(--black-transparent);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    background-position-y: -340px;
    color: white;
    padding: 5rem;
    display: flex;
    align-items: center;
}

#products-banner .content h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
}

#products-banner .content p {
    font-size: 1.6rem;
    margin-bottom: 7rem;
}

#products-banner .content .btns {
    display: flex;
    gap: 2rem;
}