/* why */

#why .container {
  display: flex;
}

#why .container > div {
  flex: 1;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80dvh;
}

#why .container .left {
  background: url(/assets/why-left.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(30, 24, 16, 0.9);
  background-blend-mode: multiply;
  color: white;
}

#why .container .left h3 {
  color: var(--primary-color);
  font-size: 2rem;
}

#why .container .left p {
  font-size: 1.8rem;
  padding-bottom: 5.5rem;
}

#why .container .right {
  background: url(/assets/why-right.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(28, 32, 253, 0.7);
  background-blend-mode: overlay;
}

#why .container .right p {
  font-size: 1.8rem;
  padding-bottom: 5.5rem;
}

#why .container .right li {
  font-weight: bold;
  font-size: 1.8rem;
}

@media screen and (max-width: 750px) {
  #why .container {
    flex-direction: column;
  }

  #why .container > div {
    height: min-content;
  }
}
