
#contact-us {
  display: block;
}

#contact-us .container {
  display: flex;
  gap: 1rem;
}

#contact-us .container > div {
  flex: 1;
  padding: 2.5rem;
}

#contact-us .container > div h2 {
  font-size: 4rem;
}

#contact-us .left {
  background: var(--black-color);
  color: white;
  display: grid;
  align-content: center;
}

#contact-us .left > p {
  font-size: 1.5rem;
}

#contact-us .left form {
  margin: 2rem 0;
}

#contact-us .left label {
  font-size: 1.8rem;
}

#contact-us .left input {
  font-size: 1.8rem;
  padding: 1rem 1.7rem;
  width: 100%;
  margin-bottom: 2rem;
}

#contact-us .right h2 {
  color: var(--primary-color);
}

#contact-us h4 {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  margin-block: 1rem;
}

#contact-us p {
  font-size: 1.5rem;
}

#contact-us .right > div {
  margin-block: 1.5rem;
}

#contact-us .right .map {
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 750px) {
  #contact-us .container {
    flex-direction: column;
  }
}
