footer {
  background: var(--black-color);
  padding-block: 2rem;
  color: #eee;
}

footer a {
  font-size: 1.8rem;
  color: white;
  transition: color 0.2s ease;
}

footer a:hover {
  color: var(--primary-color);
}

footer {
  font-size: 1.5rem;
}

.hr {
  height: 1.5px;
  background: #4b4640;
}

.footer-section {
  max-width: 1300px;
  margin: auto;
  padding: 2rem 1rem;
}

#footer-top {
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}


.footer-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-content h6 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.footer-content nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer p {
  font-size: 2rem;
  font-weight: 500;
  padding-block: 1rem;
}

#footer-bottom {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
}

footer .social-links-footer a {
  display: inline-grid;
  place-content: center;
  margin-inline: 0.5rem;
  border-radius: 10px;
  color: var(--primary-color-light);
}

footer .social-links-footer a:hover {
  color: #eee;
}

@media screen and (max-width: 800px) {
  #footer-top {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: 552px) {
  #footer-top .left,
  #footer-top .right {
    flex-direction: column;
    gap: 2rem;
  }

  #footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
